<div>
    <h1> Admin Dashboard<h1>
     <p1> Vendor Request</p1><br>
     <button class="openBtn" onclick="openrequest()">Approve Request</button>
     <button class="closeBtn" onclick="closerequest()">Reject Request</button>
     <br>
 
     <p2>View all New Vendor Registrations</p2><br>
 
     <button class="openBtn" onclick="openrequest()">View Vendor Registrations</button>
 
 
     <script>
     function openrequest() {
         document.getElementById("###").style.display = "block";
         document.getElementsByClassName("openbtn").display= "request approved!!"
       }
       function closerequest() {
         document.getElementById("###").style.display = "block";
         document.getElementsByClassName("closeBtn").display= "request rejected!!"
       }
       </script>
 
 
    </div>