
<div>
    <div class="wrapper">
        <div class="title">
          Vendor Registration
        </div>
    <form action="#">
        <div class="form">
           <div class="inputfield">
             <p>Welcome to Car Service Center</p>
           <div class="inputfield">

                   <label>Select Service center</label> 
                  <select id="center" name="center">
                   <option value="carservicing">Car washing</option>
                   <option value="carrepair">Car Repair</option>
                   </select>

           </div> 
           <div>

            <form class="example" style="margin:auto; max-width:300px">
                <input type="text" placeholder="Search.." name="search">
                <button type="submit"><i class="search"></i>Search</button>
            </form>
           </div>
           <div>
              <label>select date:</label> <input type="date" class="date" required>
           </div>
           <div>
              <label>Select time slot:</label> <input type="time" min="09:00" max="18:00" required>
           </div>
           <div>
           
           </div>
           <br>
          <div class="inputfield">
            <input type="submit" value="Register" class="btn">
          </div>
        </div>
    
    <br>
    
    <p> <a routerLink="customerservice-center" style="color:black;"> </a>.</p>
    
    </div>
    </form>
    
    