
<div class="container">
	
	
		<!-- Sing in  Form -->
		<div class="signin-content">
			<div class="signin-image">
				
			
				<h2 class="form-title">Customer - Login</h2>
				<form method="POST" class="register-form" id="login-form">
					
                    <div class="form-group">
                        <label for="your_name"></label>E-mail 
                        <input type="text" name="email" id="email" placeholder="email address"  required="required"/>
					</div>

					<div class="form-group">
						<label for="your_pass"></label>Password <input
							type="password" name="password" id="password" required="required" 
							placeholder="Password" />
					</div>

					
                   <p> <input type="submit" value="login"></p>
                   
                           
					
				</form>
			</div>
		</div>
	

	<!-- JS -->
	
</div>
